body {
  background-color: #F0F0F0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

a:hover {
  color: #F0F0F0;
  background-color: pink;
  text-decoration: overline;
}

a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
